<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  
    <div class="w3-center" id="myNavbar">
    <div>
    <a href="/welcome/index" class="w3-bar-item w3-button "> Home</a>
    <a href="/welcome/p2" class="w3-bar-item w3-button "> Info</a>
    <a href="/welcome/p3" class="w3-bar-item w3-button "> Names</a>
    <a href="/welcome/p4" class="w3-bar-item w3-button "> Geography</a>
    <a href="/welcome/p5" class="w3-bar-item w3-button "> Symbols</a>
    <a href="/welcome/p6" class="w3-bar-item w3-button "> Demographics</a>
    <a href="/welcome/p7" class="w3-bar-item w3-button "> Commerce</a>
    <a href="/welcome/p8" class="w3-bar-item w3-button "> Sports</a>
    <a href="/welcome/p9" class="w3-bar-item w3-button "> Food</a>
    <a href="/welcome/p10" class="w3-bar-item w3-button "> Attractions</a>
    <a href="/welcome/p11" class="w3-bar-item w3-button "> Neighbors</a>
    <a href="/welcome/p12" class="w3-bar-item w3-button "> Event Feed</a>
    </div>
    <br>
    <div class="w3-center">
        <span class="w3-center w3-padding-large w3-dark-grey w3-xlarge w3-wide w3-animate-opacity"> Denmark </span>
        <br><img src='https://images.pond5.com/denmark-flag-video-waving-wind-footage-105876465_iconl.jpeg' width='216px' height='81px' alt='dflag'/>
    </div>

    <div class="w3-content w3-container w3-padding-24 w3-light-grey w3-margin-top w3-margin-bottom" id="about">
      <h3 class="w3-center">Sights to see</h3>
      <p class="w3-padding-large">There are many popular places to visit in Denmark.
        The most popular is Tivoli Gardens, an amusement park in the capital city, Copenhagen.
        Other notable amusement parks are Dyrehvasbakken and Legoland.
        Famous zoos and aquariums in Denmark are Copenhagen Zoo and Blue Planet Aquarium. </p>
          
      <div class="w3-half w3-padding-24">
            <%= image_tag("sights1tg.jfif", width: "90%", height: "250px", alt: "Tivoli Gardens") %>
            <h5>Tivoli Gardens</h5>
        </div>
        <div class="w3-half w3-padding-24">
            <%= image_tag("sights2ll.jfif", width: "90%", height: "250px", alt: "Legoland") %>
            <h5>Legoland</h5>
      </div>
      
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    James Wang<br><br>
    Adapted for:
  </div>
  <div class="w3-quarter w3-section">
    Prof. Lachter<br><br>
    Prof. Lawrence
  </div>
  <div class="w3-quarter w3-section">
    ET710 SP21<br><br>
    ET718 FA21
  </div>    
  <div class="w3-quarter w3-section">
    May 2021<br><br>
    Dec 2021
  </div>
</div>