<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  
    <div class="w3-center" id="myNavbar">
    <div>
    <a href="/welcome/index" class="w3-bar-item w3-button "> Home</a>
    <a href="/welcome/p2" class="w3-bar-item w3-button "> Info</a>
    <a href="/welcome/p3" class="w3-bar-item w3-button "> Names</a>
    <a href="/welcome/p4" class="w3-bar-item w3-button "> Geography</a>
    <a href="/welcome/p5" class="w3-bar-item w3-button "> Symbols</a>
    <a href="/welcome/p6" class="w3-bar-item w3-button "> Demographics</a>
    <a href="/welcome/p7" class="w3-bar-item w3-button "> Commerce</a>
    <a href="/welcome/p8" class="w3-bar-item w3-button "> Sports</a>
    <a href="/welcome/p9" class="w3-bar-item w3-button "> Food</a>
    <a href="/welcome/p10" class="w3-bar-item w3-button "> Attractions</a>
    <a href="/welcome/p11" class="w3-bar-item w3-button "> Neighbors</a>
    <a href="/welcome/p12" class="w3-bar-item w3-button "> Event Feed</a>
    </div>
    <br>
    <div class="w3-center">
        <span class="w3-center w3-padding-large w3-dark-grey w3-xlarge w3-wide w3-animate-opacity"> Denmark </span>
        <br><img src='https://images.pond5.com/denmark-flag-video-waving-wind-footage-105876465_iconl.jpeg' width='216px' height='81px' alt='dflag'/>
    </div>

    <div class="w3-content w3-container w3-padding-64" id="about">
      <h3 class="w3-center">Background information</h3>
      <p class="w3-padding-">Denmark is a small Nordic country.  Other countries that fall into this category are Finland, Iceland, Norway, Sweden and a few other more recently established.  Denmark and other Nordic countries share a common history in that of the Vikings.  The Viking Age began around the year 800 AD and lasted for over 250 years.  Denmark and the Nordic countries were the first and primary nations established by the Vikings.  Countries like Ireland, England, Scotland, Wales, Iceland, and Canada were also impacted. </p>
     
      
  <div class="w3-row-padding w3-light-grey w3-padding-24">
    <div class="w3-half w3-container w3-margin-bottom w3-light-grey">
      <div class="w3-container">
        <%= image_tag("story1.jfif", width: "250px", height: "250px", alt: "Vikings Portrait") %>
      </div>
    </div>
    <div class="w3-half w3-container w3-margin-bottom w3-light-grey">
      <div class="w3-container">
        <%= image_tag("story2.jfif", width: "250px", height: "250px", alt: "Vikings Boat") %>
      </div>
    </div>
    <p class="w3-padding-large">People and endeavors of the past.</p></div>

  
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    James Wang<br><br>
    Adapted for:
  </div>
  <div class="w3-quarter w3-section">
    Prof. Lachter<br><br>
    Prof. Lawrence
  </div>
  <div class="w3-quarter w3-section">
    ET710 SP21<br><br>
    ET718 FA21
  </div>    
  <div class="w3-quarter w3-section">
    May 2021<br><br>
    Dec 2021
  </div>
</div>