<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  
    <div class="w3-center" id="myNavbar">
    <div>
    <a href="/welcome/index" class="w3-bar-item w3-button "> Home</a>
    <a href="/welcome/p2" class="w3-bar-item w3-button "> Info</a>
    <a href="/welcome/p3" class="w3-bar-item w3-button "> Names</a>
    <a href="/welcome/p4" class="w3-bar-item w3-button "> Geography</a>
    <a href="/welcome/p5" class="w3-bar-item w3-button "> Symbols</a>
    <a href="/welcome/p6" class="w3-bar-item w3-button "> Demographics</a>
    <a href="/welcome/p7" class="w3-bar-item w3-button "> Commerce</a>
    <a href="/welcome/p8" class="w3-bar-item w3-button "> Sports</a>
    <a href="/welcome/p9" class="w3-bar-item w3-button "> Food</a>
    <a href="/welcome/p10" class="w3-bar-item w3-button "> Attractions</a>
    <a href="/welcome/p11" class="w3-bar-item w3-button "> Neighbors</a>
    <a href="/welcome/p12" class="w3-bar-item w3-button "> Event Feed</a>
    </div>
    
    <br>
    <div class="w3-center">
        <span class="w3-center w3-padding-large w3-dark-grey w3-xlarge w3-wide w3-animate-opacity"> Denmark </span>
        <br><img src='https://images.pond5.com/denmark-flag-video-waving-wind-footage-105876465_iconl.jpeg' width='216px' height='81px' alt='dflag'/>
    </div>

    <div class="w3-content w3-container w3-padding-24 w3-light-grey w3-margin-top" id="about">
      <h3 class="w3-center">Geography</h3>
      <p class="w3-padding-large w3-left-align"> Denmark is in Northern Europe.  It has hundreds of islands.  The largest islands are Zealand, North Jutlandic Island, and Funen. The total area of Denmark, including islands, is about 16,500 square miles. Danish overseas territories are Greenland and the Faroe Islands.  The summers and winters are not extreme.  However, winter sunsets can be around 4 PM while summer summer's around 10 PM. About 13% of Denmark's land is forests. The Danish have a high-standard of living.  Land and water pollution are environmental issues. </p>
      <div class="w3-white">
      <p>Greenland is a territory of Denmark.</p>    
      <h3 class="w3-center">
        <%= image_tag("geo1.jfif", size: "350x260", alt: "World map") %>
      </div>
    </div>

  
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    James Wang<br><br>
    Adapted for:
  </div>
  <div class="w3-quarter w3-section">
    Prof. Lachter<br><br>
    Prof. Lawrence
  </div>
  <div class="w3-quarter w3-section">
    ET710 SP21<br><br>
    ET718 FA21
  </div>    
  <div class="w3-quarter w3-section">
    May 2021<br><br>
    Dec 2021
  </div>
</div>