<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  
    <div class="w3-center" id="myNavbar">
    <div>
    <a href="/welcome/index" class="w3-bar-item w3-button "> Home</a>
    <a href="/welcome/p2" class="w3-bar-item w3-button "> Info</a>
    <a href="/welcome/p3" class="w3-bar-item w3-button "> Names</a>
    <a href="/welcome/p4" class="w3-bar-item w3-button "> Geography</a>
    <a href="/welcome/p5" class="w3-bar-item w3-button "> Symbols</a>
    <a href="/welcome/p6" class="w3-bar-item w3-button "> Demographics</a>
    <a href="/welcome/p7" class="w3-bar-item w3-button "> Commerce</a>
    <a href="/welcome/p8" class="w3-bar-item w3-button "> Sports</a>
    <a href="/welcome/p9" class="w3-bar-item w3-button "> Food</a>
    <a href="/welcome/p10" class="w3-bar-item w3-button "> Attractions</a>
    <a href="/welcome/p11" class="w3-bar-item w3-button "> Neighbors</a>
    <a href="/welcome/p12" class="w3-bar-item w3-button "> Event Feed</a>
    </div>
    <br>
    <div class="w3-center">
        <span class="w3-center w3-padding-large w3-dark-grey w3-xlarge w3-wide w3-animate-opacity"> Denmark </span>
        <br><img src='https://images.pond5.com/denmark-flag-video-waving-wind-footage-105876465_iconl.jpeg' width='216px' height='81px' alt='dflag'/>
    </div>
    
    <div class="w3-content w3-container w3-teal w3-margin-top w3-margin-bottom" id="about">
      <h3 class="w3-center w3-white">Food</h3>
      <h6 class="w3-center w3-padding-large w3-white">Food that is eaten day to day is very similar to other countries. Bread, red-meat, dairy items, wine and beer. Pork is the most popular of meats. Cold breakfasts and lunches are not uncommon.</h6>
        <br>
        <div class="w3-row-padding w3-padding-16 w3-center w3-white" id="food">
            <div class="w3-third">
              <%= image_tag("a9foodsprk.jpg", width: "100%", alt: "Types of pork") %>
              <h5>There are so many variations of Danish pork, sausages, roasts and meatballs.</h5>
            </div>
            <div class="w3-third">
              <%= image_tag("a9foodsb.jpg", width: "100%", height: "221px", alt: "Open-faced bread") %>
              <h5>Smørrebrød is an open-faced sandwich that can include fish, meat, egg and vegetables.</h5>
            </div>
            <div class="w3-third">
              <%= image_tag("a9foodfc.jpg", width: "100%", alt: "Fish cakes") %>
              <h5>Fiskefrikadeller are fish cakes, with fish with onion, parsley, lemon salt and pepper.</h5>
            </div>
        </div>
       

</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    James Wang<br><br>
    Adapted for:
  </div>
  <div class="w3-quarter w3-section">
    Prof. Lachter<br><br>
    Prof. Lawrence
  </div>
  <div class="w3-quarter w3-section">
    ET710 SP21<br><br>
    ET718 FA21
  </div>    
  <div class="w3-quarter w3-section">
    May 2021<br><br>
    Dec 2021
  </div>
</div>